<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- old  Data Source=SKY-20181001MCM;Initial Catalog=风帆数据库;Integrated Security=False;User ID=humility;Password=********;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False-->
  <!--数据库连接串-->
 <appSettings>
    <add key="connectionstring" value="Data Source= SKY-20181001MCM;Initial Catalog=风帆电池数据库;Integrated Security=SSPI"/>
 </appSettings>
  
 <connectionStrings>
  <add name="ConStr" connectionString="server=127.0.0.1;database=风帆电池数据库;uid=humility;pwd=cw02281993"/>
  
   <!--库中出卷筒-->
   <add name="sqlOutEmpty" connectionString=
        "select TOP 1 T1.卷筒编号,T1.生产批号, T2.库存位置,T2.X坐标,T2.Y坐标,T2.Z坐标
        from 库存记录表 as T1,库位表 as T2
          where T1.物料规格=@goodscode
              and T1.物料状态=@goodsstate
              and T1.库存位置=T2.库存位置
          order by T1.库存位置 asc"
       />
   <!--入库完成自动库中出卷筒-->
   <add name="sqlAutoOutEmpty" connectionString=
        "select TOP 1 T1.卷筒编号,T1.生产批号, T2.库存位置,T2.X坐标,T2.Y坐标,T2.Z坐标
        from 库存记录表 as T1,库位表 as T2
          where T1.物料规格='卷筒'
              and T1.物料状态='空卷'
              and T1.库存位置=T2.库存位置
          order by T1.库存位置 asc"
       />
   <!--库中根据物料规格，物料检测状态查出卷筒的编号及坐标，按照生产批号顺序先进先出，不考虑满卷半卷-->
   <add name="sqlOutGoods" connectionString=
        "select TOP 1 T1.卷筒编号,T1.生产批号, T2.库存位置,T2.X坐标,T2.Y坐标,T2.Z坐标
        from 库存记录表 as T1,库位表 as T2
          where T1.物料规格=@goodscode
              and T1.检测状态=@checkstate
              and T1.库存位置=T2.库存位置
          order by T1.生产批号 asc"
       />
   <!--备用条件：将Goods1改为Goods后才能使用，库中根据物料规格，物料状态，物料检测状态查出卷筒的编号及坐标，按照生产批号顺序先进先出，考虑满卷半卷-->
   <add name="sqlOutGoods1" connectionString=
        "select TOP 1 T1.卷筒编号,T1.生产批号, T2.库存位置,T2.X坐标,T2.Y坐标,T2.Z坐标
        from 库存记录表 as T1,库位表 as T2
          where T1.物料规格=@goodscode
              and T1.检测状态=@checkstate
              and T1.物料状态=@goodsstate
              and T1.库存位置=T2.库存位置
          order by T1.生产批号 asc"
       />
   <!--查询工位坐标-->
   <add name="sqlOutLocation" connectionString=
        "select  T.工位,T.X坐标,T.Y坐标,T.Z坐标
        from 工位表 as T
          where T.工位编号=@orderarea"
       />
   <!--查询库中空位坐标-->
   <add name="sqlOutEmptyLocation" connectionString=
        "select top 1 T2.库存位置 ,T2.X坐标,T2.Y坐标,T2.Z坐标
      from 库存记录表 as T1,库位表 as T2
       where 卷筒编号 is NULL
       and 物料规格 is NULL
       and  T1.库存位置=T2.库存位置
       order by 库存位置 asc"
       />
   <add name="insertoutinlibrecord" connectionString=
        "insert into 出入库记录表
        values(@date,@time,@position,@emptynum,@goodscode,@goodsstate,@checkstate,@goodsnum,@outinstate)"
        />
   <add name="insertlibinrecord" connectionString=
        "insert into 库存记录表
        values(@position,@emptynum,@goodscode,@goodsstate,@checkstate,@goodsnum,@date,@time,@notes)"
        />
   
   <!--出库时根据查询出的库存位置向库存记录表执行删除一条记录-->
   <add name="deletelibinrecord" connectionString=
        "delete from 库存记录表
        where 库存位置=@position"
        />

   <!--根据库存位置更新库存记录表中该位置上的信息-->
   <add name="updatelibrecord" connectionString=
        "update 库存记录表
        set 卷筒编号=@emptynum,
        物料规格=@goodscode,
        物料状态=@goodsstate,
        检测状态=@checkstate,
        生产批号=@goodsnum,
        日期=@date,
        时间=@time,
        备注=@notes
        where 库存位置=@position"
        />
   
      <!--查询库存记录详细信息-->
   <add name="sqlLibAllMess" connectionString=
        "select T1.卷筒编号,T1.物料规格,T2.物料型号,T1.物料状态,T1.检测状态,T1.生产批号
  from 物料表 as T2
  left join 库存记录表 as T1
  on T1.物料规格=T2.物料规格"
       />
   <!--根据库存位置查询单个库存记录信息,显示到提示框-->
     <add name="sqlLibAreaMess" connectionString=
          "select T1.卷筒编号,T1.物料规格,T2.物料型号,T1.物料状态,T1.检测状态,T1.生产批号
    from 物料表 as T2
    left join 库存记录表 as T1
    on T1.物料规格=T2.物料规格
    where T1.库存位置=@position"
         />

  
   
   
   <!--根据库存位置查询单个库存记录信息，便于手动修改信息-->
     <add name="updataLibAreaMess" connectionString=
          "select T1.库存位置,T1.卷筒编号,T1.物料规格,T2.物料型号,
          T1.物料状态,T1.检测状态,T1.生产批号,T1.日期,T1.时间,T1.备注
    from 物料表 as T2
    right join 库存记录表 as T1
    on T1.物料规格=T2.物料规格
    where T1.库存位置=@position"
         />

   <!--倒库查询库位坐标-->
   <add name="exchangePosition" connectionString=
        "select  T.X坐标,T.Y坐标,T.Z坐标
        from 库位表 as T
          where T.库存位置=@libposition"
       />

   <!--倒库时根据库存位置查询单个库存信息-->
   <add name="exchangeLibAreaMess" connectionString=
          "select T1.卷筒编号,T1.物料规格,
          T1.物料状态,T1.检测状态,T1.生产批号,T1.日期,T1.时间,T1.备注
    from  库存记录表 as T1
    where T1.库存位置=@position"
         />
   
   <!--根据库存位置更新库状态表-->
   <add name="updatelibstate" connectionString=
        "update 库状态表
        set 库状态=case[库状态]
        when 1 then 库状态-1
        else 库状态+1
        end
        where 库存位置=@position"
        />

   <!--根据库存中卷筒编号更新删除库存记录表中该卷筒编号附带的所有信息-->
   <add name="deletelibemptycode" connectionString=
        "update 库存记录表
        set 卷筒编号=NULL,
        物料规格=NULL,
        物料状态=NULL,
        检测状态=NULL,
        生产批号=NULL,
        日期=NULL,
        时间=NULL,
        备注=NULL
        where 卷筒编号=@emptycode"
        />

   <!--根据库存中库存位置更新库存记录表中空卷筒-->
   <add name="insertlibemptycode" connectionString=
        "update 库存记录表
        set 卷筒编号=@emptycode,
        物料规格=@goodscode,
        物料状态=@goodsstate,
        检测状态=@checkstate,
        生产批号=@goodsnum,
        日期=@date,
        时间=@time,
        备注=@notes
        where 库存位置=@position"
        />

   
   <!--根据工位代码记录缓存表 更新关于工位空卷筒编号以及生产批号-->
   <add name="updatebuffrecord" connectionString=
        "update 工位记录缓存表
        set
        卷筒编号=@emptynum,
        生产批号=@goodsnum
        where 工位代码=@area"
        />
   
   <!--根据工位代码查询关于工位空卷筒编号以及生产批号-->
   <add name="selectbuffrecord" connectionString=
        "select 卷筒编号,生产批号
        from 工位记录缓存表
        where 工位代码=@area"
        />

   <!--根据工位代码 更新清除关于工位空卷筒编号以及生产批号-->
   <add name="clearbuffrecord" connectionString=
        "update 工位记录缓存表
        set 卷筒编号=@emptynum,
        生产批号=@goodsnum
        where 工位代码=@area"
        />
   
   <add name="insertgoodscode" connectionString=
        "insert into 物料表(物料规格)
        values(@goodscode)"
        />
   <add name="deletegoodscode" connectionString=
        "delete from 物料表
        where 物料规格=@goodscode"
        />

 </connectionStrings>
  
</configuration>